@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #38bdf8 #1D232A;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.1px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: gray; /* color of the track */
}

*::-webkit-scrollbar-thumb {
  background-color: blue; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: 2px solid white; /* creates padding around scroll thumb */
}

.gradient-text {
  background: linear-gradient(to right, #ec4899, #f43f5e, #f59e0b); /* Adjust the colors to pink-500, red-500, and yellow-500 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
