@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: aqua gray;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.2px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: gray; /* color of the track */
}

*::-webkit-scrollbar-thumb {
  background-color: blue; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: 2px solid white; /* creates padding around scroll thumb */
}
